<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
   <link rel="icon" href="/img/weather.png">
</head>

<body> 
    <div class="main-content">
            {{!-- partials hbs file --}}
        {{>header}} 
        <p1>{{message}}</p1>  
    </div>
   {{>footer}}
</body>


</html>